<main class="page-tab pt-3" id="tab-powerVideo">
    <div class="row <%- define.Theme.isDark ? `dark` : '' %>" id="powerVideo">
      <% Object.keys(define['Power Viewer'].blocks).forEach(function(blockKey) { -%>
          <%- include('../../../../../../web/pages/blocks/home/drawBlock', {
                  theBlock: define['Power Viewer'].blocks[blockKey],
              }) %>
          <%  }) -%>
    </div>
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.powerVideo.css">
    <script src="<%-window.libURL%>assets/js/bs5.powerVideo.js"></script>
</main>
