<main class="container page-tab pt-3" id="tab-customTab">
    <form class="<%- define.Theme.isDark ? `dark` : '' %>">
        <div class="row">
        <% Object.keys(define['Custom Tab'].blocks).forEach(function(blockKey) { -%>
            <%- include('../../../../../../web/pages/blocks/home/drawBlock', {
                    theBlock: define['Custom Tab'].blocks[blockKey],
                }) %>
        <%  }) -%>
        <%- include('../../../../../../web/pages/blocks/home/stickySubmitBar.ejs') %>
    </form>
</main>
